.pokeGrid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: var(--mg-m);
}

@media (max-width: 420px) {
    .pokeGrid {
        grid-template-columns: 100%;
    }
}

.favoriteHeader {
    display: flex;
    gap: var(--mg-m);
    margin-bottom: var(--mg-m);
}

.btn {
    background-color: white;
    padding: 0 var(--mg-m);
    font-size: 1rem;
    border-radius: .3125rem;
}

.results {
    margin-bottom: var(--mg-m);
}