.header {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: var(--mg-m);
    margin-bottom: var(--mg-m);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--mg-m);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}