@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

:root {
    --mg-xl: 4rem;
    --mg-l: 3rem;
    --mg-m: 2rem;
    --mg-s: 1rem;

    --transition: .3s
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 75rem;
}

h1,
h2,
h3,
h4,
p,
a,
li {
    color: aliceblue;
    text-align: center;
}